
block foot
  footer
    .blank6
    .container-fluid.sixth
      .row.justify-content-center.ftRow#contact
        .col.d-flex.align-items-center.justify-content-center
          h3 Contact Me
          ul.nobull(style='list-style: none;')
            li
              a(href='emailto: goddessofthesunmobile@gmail.com')
                i.fa-solid.fa-envelope &nbsp; Email
            li
              a(href="text:602-420-3340") 
                i.fa-solid.fa-phone &nbsp; 602-420-3340
            li
              a(href="tel:602-420-3340") 
                i.fa-solid.fa-phone &nbsp; 602-420-3340
        .col.d-flex.align-items-center.justify-content-center
          .row.justify-content-center.ftRow
          h3 Follow Me
            .row.justify-content-center
              .col
                a(href='#')
                  i.fa-brands.fa-facebook
              .col
                a(href='#')
                  i.fa-brands.fa-x-twitter
                  //- a(href='#')
                //-   i.icon.ion-social-snapchati
                //- a(href='#')
              .col
                a(href='#')
                  i.fa-brands.fa-instagram
      .row.d-flex.align-items-center.justify-content-center.ftRow
        p.text-center.copyright Goddess Of The Sun, LLC &copy; 2018


block script

    script(src='javascripts/code.jquery.com_jquery-3.7.0.min.js')
    script(src='javascripts/bootstrap.bundle.min.js')
    script(src='https://kit.fontawesome.com/95df371026.js' crossorigin='anonymous')
    script(src='javascripts/main.js')
