.row.align-items-center.row-cols-1.row-cols-md-2.g-4.pb-4#lomilomi
    h2.w-100.mt-5.text-center Maiki Lomi Lomi
    .col.d-flex.align-items-center.justify-content-center
        .card.w-100.text-center.reikiInfoCard
            .card-body.d-flex.flex-column
                h3.card-title Indulge in the Transformative Power of Touch
                p.card-text.text-center
                    | Indulge in the captivating world of Makai Lomi Lomi, where the power of touch converges with the soothing sounds of Hawaii, intertwined with the essence of Aloha – a symbol of universal love. 
                    | This enchanting massage experience transcends the ordinary, infusing Hawaiian magic into every stroke. As nurturing oils glide in rhythmic motions across your entire body, 
                    | from head to toe and even encompassing the belly, stress and tension dissipate, leaving you with a profound sense of connection and restoration.
    .col.d-flex.align-items-center.justify-content-center
        .card.w-100.reikiInfoCard
            .card-body.d-flex.flex-column
                h3.card-title Unlock the Healing Potential: Benefits of Makai Lomi Lomi
                p.card-text.text-center
                    | Makai Lomi Lomi holds a treasure trove of benefits waiting to be discovered:
                    .row.align-items-center.row-cols-2
                        .col.d-flex.align-items-center.justify-content-center
                            ul.text-left.p-1
                                li lymph flow and detoxification
                                li Improve energy circliation and holistic healing
                                li Dissolve energy blockages for free-flowing vitality
                                li Alleviate physical discomfort, promoting ease
                                li Strengthen the immune system's natural defenses
                                li Increase flexibility and range of motion
                                li Aid digestion for overall well-being
                        .col.d-flex.align-items-center.justify-content-center
                            ul.text-left.p-1
                                li Soothe muscle tension and promote relaxation
                                li Manage stress levels and find inner calm
                                li Support optimal blood pressure levels
                                li Address common ailments like sinusitis and migraines
                                li Relief for conditions such as arthritis and glaucoma
                                li Confront fears and phobias with newfound courage
                                li Offer gentle support on the journey through cancer

    .col.d-flex.align-items-center.justify-content-center
        .card.w-100.text-center.reikiInfoCard
            .card-body.d-flex.flex-column
                h3.card-title Crafting a Personal Oasis: Tailored Holistic Services

                p.card-text.text-center
                    | Allow me to guide you on a transformative journey as a Certified Master Reiki Practitioner, Dual Licensed Cosmetologist, and Massage Therapist. 
                    | With intuitive insight, I curate mobile alternative and holistic health services, creating a sacred in-home spa sanctuary exclusively for you. 
                    | Together, we venture beyond the surface, nurturing your holistic well-being through personalized experiences, whether individually or in a group setting.

    .col.d-flex.align-items-center.justify-content-center
        .card.w-100.text-center.reikiInfoCard
            .card-body.d-flex.flex-column
                h3.card-title Elevate Well-Being: Enrich Environments with Holistic Harmony

                p.card-text.text-center
                    | Our mobile alternative beauty and holistic wellness enterprise specializes in elevating any space into a haven of balance. 
                    | With an array of eclectic holistic alternative services, we create a harmonious interplay between Spirit, Mind, and Body. 
                    | These offerings go beyond addressing symptoms, aiming to uncover and address the root causes of dis-ease, facilitating the body's innate capacity to heal. 
                    | From the soothing touch of Lomi Lomi to the energy healing of Reiki, our repertoire aims to uplift, relax, and rejuvenate, fostering a sense of well-being that transcends the ordinary.

    //- .col.d-flex.align-items-center.justify-content-center
    //-     .card.w-100.text-center.reikiInfoCard
    //-         .card-body.d-flex.flex-column
    //-             h3.card-title Elevate Your Soul Through Intuitive Holistic Healing

    //-             p.card-text.text-center
    //-                 | I am a mobile alternative beauty and holistic health practitioner, holding your dignity in the highest regard. No diagnosis defines you in my eyes. With a compassionate approach, I blend tailored, meditative, and safe healing modalities, delivering therapeutic touch, empathy, and alignment. Whether it's elevated consciousness, trauma release, or overall transformation, my purpose is to elevate your Spirit, Mind, and Body into harmonious alignment.

    //-             p.card-text.text-center
    //-                 | Step.card-text.text-centerinto a world of transformation, where healing touch and intention create a symphony of well-being. Experience the power of healing for yourself – redefine your wellness journey with us.

    //- .col.d-flex.align-items-center.justify-content-center
    //-     .card.w-100.text-center.reikiInfoCard
    //-         .card-body.d-flex.flex-column
    //-             h3.card-title Elevate Your Essence: Experience the Power Within
    //-             p.card-text.text-center
    //-                 | This holistic approach harmonizes the Spirit, Mind, and Body, fostering profound healing across all dimensions.

    //-             p.card-text.text-center
    //-                 |If you've yet to experience the wonders of Makai Lomi Lomi, let us unveil what you've been missing.