nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.px-3.py-2
    a.navbar-brand(href='/') #[image(src='images/gos_logo_temp.jpg' alt='AirPlay' style='width:150px; height:100px;')]
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#collapsibleNavbar') 
        span.navbar-toggler-icon
    #collapsibleNavbar.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
            li.nav-item
                a.nav-link.mx-2(href='/#about') About
            li.nav-item
                a.nav-link.mx-2(href='/#services') Services
            li.nav-item
                a.nav-link.mx-2(href='/#reviews') Reviews    
            li.nav-item
                a.nav-link.mx-2(href='schedule') Booking
            li.nav-item
                a.nav-link.mx-2(href='#contact') Contact