.row.align-items-center.row-cols-1.row-cols-md-2.g-4.pb-4#reikiColl
    h2.w-100.mt-5.text-center Reike
    .col.d-flex.align-items-center.justify-content-center
        .card.text-center.reikiInfoCard
            .card-body.d-flex.flex-column
                h3.card-title Experience the Healing Power of Reiki
                p.card-text 
                    | Reconnect with the universal life force energy through the ancient art of Reiki. This hands-on healing technique taps into your body's innate vitality, 
                    | promoting balance and rejuvenation. Suitable for people of all ages and even beloved pets, Reiki offers a transformative experience that transcends boundaries.
    .col.d-flex.align-items-center.justify-content-center
        .card.text-center.reikiInfoCard
            .card-body.d-flex.flex-column
                h3.card-title Journey to Self-Love and Evolution with Reiki
                p.card-text 
                    | Delve into the depths of self-love and personal growth as you embark on a Reiki journey. Beyond its physical healing effects, Reiki serves as a catalyst for increased self-awareness and inner evolution. 
                    | By infusing you with unconditional love and renewal, Reiki becomes a path to wholeness that goes beyond words.

    .col.d-flex.align-items-center.justify-content-center
        .card.text-center.reikiInfoCard
            .card-body.d-flex.flex-column
                h3.card-title Universal Healing for All: Infuse Your Life with Reiki
                p.card-text 
                    | Reiki&apos;s inclusive philosophy makes it accessible to everyone, from infants to the elderly, and even your cherished pets. 
                    | It's a practice rooted in simplicity, free from complex ideologies, and offers healing on all levels - physical, emotional, mental, and spiritual. 
                    | Awaken the universal life force energy within and embrace a holistic approach to well-being.

    .col.d-flex.align-items-center.justify-content-center
        .card.text-center.reikiInfoCard
            .card-body.d-flex.flex-column
                h3.card-title Unlock Transformation through Reiki's Touch
                p.card-text 
                    | Step into the realm of Reiki to unlock its profound effects on your overall vitality. Experience its intelligent energy as it cleanses, harmonizes, and restores balance across every facet of your being. 
                    | Let Reiki guide you towards inner healing, alignment, and a renewed sense of purpose, transcending the limitations of language.
