#reiki-session
    | Receive a Reiki session in the comfort of your home or as you go about your day. At the scheduled time you may dedicate time out to lay down to receive healing. 
    | Reiki is an ancient Japanese stress reduction and relaxation technique that helps lead to healing and well-being. Healing from the inside out Mind, Body & Spirit!

#reiki-sound 
    | A Reiki Session combined with intuitive sound healing techniques. A singing bowl tuned to healing frequency played for healing different parts of the body, mind and spirit. 
    | Helps to stimulate circulation to allow muscle relaxation and improve lymphatic flow, reducing stress and promoting relaxation. 
    | *NOTE: Sound healing can be contraindicated when the recipient has a pacemaker, metal rods inside of the body or has seizure disorder. 
    | Please let your practitioner know if you have any of these health concerns and they will tailor the session to meet your needs.

#reiki-llt 
    | Reiki Infused Lash Lift & Tint. A lash lift & tint combined with Reiki energy healing. 
    | Reiki is an ancient Japanese stress reduction and relaxation technique that helps lead to healing and well-being. 
    | Healing Mind, Body & Spirit from the inside out. Appointment Accepted upon Confirmation of Deposit

#reiki-ll 
    | Reiki Infused Lash Lift. A lash lift combined with Reiki energy healing. Reiki is an ancient Japanese stress reduction and relaxation technique that helps lead to healing and well-being. 
    | Healing from the inside out Mind, Body & Spirit

#reiki-hbc 
    | Have you experienced negativity, illness, a transition, moved into a new home or space? Rid, cleanse and clear your own spaces or of others negative energy in homes, 
    | rooms and workplaces for a free flowing abundant and peaceful environment!

#reiki-pets 
    | Reiki is an ancient Japanese stress reduction and relaxation technique that helps lead to healing and well being for your Fur babies too!

#reiki-eh 
    | Reiki is an ancient Japanese stress reduction and relaxation technique that helps lead to healing and well-being. Healing from the inside out, Mind, Body & Spirit

#reiki-crystal 
    | Reiki combined with crystals placed intuitively on the body and/or under the massage table to bring balance and healing Healing from the inside out Mind, Body & Spirit.

#swedish 
    | Relaxation and tension relief using light to medium pressure. Ease and soothe muscle aches and pains, boost circulation, relieve stress

#deep-tissue 
    | Slow, firm massage strokes that concentrates deep pressure for deep muscle tension. Breaking down adhesions, increasing blood circulation and helping to reduce inflammation, 
    | chronic muscle injury, injury rehabilitation and can help improve performance.

#prenatal 
    | Prenatal massage aims to relax tense muscles, ease sore spots, improve circulation and mobility using light to medium pressure. 
    | Relieve physical strains of pregnancy and improve wellness. *Please provide pillows.

